@using Biblioteca
@using BonustrackU8.Models
@model clsMision
@{
    ViewData["Title"] = "Home Page";
}


<select name="Id">
    @{
        foreach (clsMision mision in ListadoMisiones.ListadoMisionesCompleto())
        {
            @if (Model != null && Model.Id == mision.Id)
            {
                <option selected value="@Model.Id">@Model.Nombre</option>
            }
            else
            {
                <option value="@mision.Id">@mision.Nombre</option>
            }
        }
    }

</select>

<button type="submit" action="Index">Ver detalles</button>




@{
    if (Model != null)
    {
        <h3>@Model.Nombre</h3>    
        <h4>@Model.Detalles</h4>
        <h4>@Model.Recompensa</h4>
    }
}


